@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /*body*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /*encabezados*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); /*parrafos*/



body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
  }

 